fail_fast: false

repos:
  - repo: local
    hooks:
      - id: psat-station-compile-check
        name: (COMPILE) psat-station
        entry: bash -c 'cd firmware && nix develop .#esp --command sh -c "cd psat-station && idf.py build"'
        language: system
        pass_filenames: false

      - id: platform-agnostic-compile-check
        name: (COMPILE) platform-agnostic-tests
        entry: bash -c 'cd firmware && nix develop .#linux --command sh -c "cd platform-agnostic-testing && cmake -S . -B build && cmake --build build"'
        language: system
        pass_filenames: false

      - id: ground-station-ai-thinker-compile-check
        name: (COMPILE) ground-station-aithinker
        entry: bash -c 'cd firmware && nix develop .#thinker --command sh -c "cd ground-station/ai-thinker/ && make"'
        language: system
        pass_filenames: false

